/**
 * vscode color theme extension
 * @author hiwangchi@gmail.com
 */


/* Solarized Dark Start */

/*
no activitybar
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .activitybar {
  display: none;
  width: 0;
  min-width: 0;
}

.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .sidebar {
  left: 0 !important;
}

.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .editor {
  left: 276px !important;
}*/



/* renderWhitespac styles */
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .monaco-editor.vs-dark.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .token.whitespace {
  color: rgba(227, 228, 226, .16) !important;
  font-size: 12px;
}

/* file explore background */
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .monaco-workbench,
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .monaco-workbench > .sidebar > .title > .title-actions {
  background: #00212B !important;
}

/* file explore file styles */
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .monaco-tree .monaco-tree-row.selected:not(.highlighted),
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .monaco-tree .monaco-tree-row.focused:not(.highlighted),
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .monaco-tree .monaco-tree-row:hover {
  background: #002B36 !important;
}

/* activitybar */
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .monaco-workbench > .activitybar > .content {
  background: #002b37 !important;
}

/* statusbar */
.vscode-theme-solarized-dark-themes-Solarized-dark-tmTheme .monaco-workbench > .part.statusbar {
  border-top: 1px solid #00212B;
  background: #06181E !important;
}
/* Solarized Dark End */



/* One Dark Start */

/* renderWhitespac styles */
/* use default */
/*.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-editor.vs-dark.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .token.whitespace {
  color: rgba(227, 228, 226, .16) !important;
  font-size: 12px;
}*/

/* file explore background */
.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-workbench,
.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-workbench > .sidebar > .title > .title-actions {
  background: #191C21 !important;
}

/* file explore file styles */
.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-tree .monaco-tree-row.selected:not(.highlighted),
.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-tree .monaco-tree-row.focused:not(.highlighted),
.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-tree .monaco-tree-row:hover {
  background: #252831 !important;
}

/* file explore file selected */
.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-tree .monaco-tree-row.selected {
  border-left: 2px solid #4d71ff;
}

/* activitybar */
.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-workbench > .activitybar > .content {
  background: rgba(40, 44, 52, 1) !important;
}

/* statusbar */
.akamud-vscode-theme-onedark-themes-One-20Dark-tmTheme .monaco-workbench > .part.statusbar {
  border-top: 1px solid #131418;
  background: #191B20 !important;
}
/* One Dark End */